<div class="container">
  <div class="row">
    <h1>Triangle</h1><hr>
    <div class="col-xs-4">
      <div id="triangle1"></div>
    </div>
    <div class="col-xs-4">
      <div id="triangle2"></div>
    </div>
    <div class="col-xs-4">
      <div id="triangle3"></div>
    </div>
    <div class="col-xs-4">
      <div id="triangle4"></div>
    </div>
    <div class="col-xs-4">
      <div id="triangle5"></div>
    </div>
    <div class="col-xs-4">
      <div id="triangle6"></div>
    </div>
  </div>

  <br><br>
  <h1>Arrow</h1><hr>
  <div class="row">
    <div class="col-xs-4">
      <div id="arrow1"></div>
    </div>
    <div class="col-xs-4">
      <div id="arrow2"></div>
    </div>
    <div class="col-xs-4">
      <div id="arrow3"></div>
    </div>
  </div>

  <br><br>
  <h1>Trapezium</h1><hr>
  <div class="row">
    <div class="col-xs-4">
      <div id="trapezium1"></div>
    </div>
    <div class="col-xs-4">
      <div id="trapezium2"></div>
    </div>
    <div class="col-xs-4">
      <div id="trapezium3"></div>
    </div>
  </div>

  <br><br>
  <h1>Parallelogram</h1><hr>
  <div class="row">
    <div class="col-xs-4">
      <div id="parallelogram1"></div>
    </div>
  </div>

  <br><br>
  <h1>Star</h1><hr>
  <div class="row">
    <div class="col-xs-4">
      <div id="star1"></div>
    </div>
    <div class="col-xs-4">
      <div id="star2"></div>
    </div>
  </div>

  <br><br>
  <h1>Pentagon</h1><hr>
  <div class="row">
    <div class="col-xs-4">
      <div id="pentagon1"></div>
    </div>
  </div>

  <br><br>
  <h1>Heart</h1><hr>
  <div class="row">
    <div class="col-xs-4">
      <div id="heart1"></div>
    </div>
  </div>
</div>
