#triangle1 {
  margin: 0 auto;
  width: 0px;
  border-top: 17.32vw solid $red;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  transition: all 0.3s ease-out;

  &:hover {
    border-top-color: lighten($red, 20%)
  }
}

#triangle2 {
  margin: 0 auto;
  width: 0px;
  border-right: 17.32vw solid $midnight-blue;
  border-top: 8.66vw solid transparent;
  border-bottom: 8.66vw solid transparent;
  transition: transform 0.3s ease-out;

  &:hover {
    transform: rotate(90deg);
  }
}

#triangle3 {
  margin: 0 auto;
  width: 0px;
  border-bottom: 17.32vw solid $blue;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  transition: transform 0.3s ease-out;

  &:hover {
    transform: rotate(180deg);
  }
}

#triangle4 {
  margin: 0 auto;
  width: 0px;
  border-left: 17.32vw solid $green;
  border-top: 8.66vw solid transparent;
  border-bottom: 8.66vw solid transparent;
  transition: transform 1s ease-out;

  &:hover {
    transform: rotate(100deg);
  }
}

#triangle5 {
  margin: 0 auto;
  width: 0px;
  border-bottom: 17.32vw solid $orange;
  border-right: 17.32vw solid transparent;
  transition: transform 0.5s ease-out;

  &:hover {
    transform: rotate(60deg);
  }
}

#triangle6 {
  margin: 0 auto;
  width: 0px;
  border-bottom: 17.32vw solid $pomegranate;
  border-right: 17.32vw solid transparent;
  transform: rotate(-20deg);
  transition: transform 0.3s ease-out;

  &:hover {
    transform: rotate(-40deg);
  }
}

#arrow1 {
  margin: 0 auto;
  width: 0px;
  border-left: 8.66vw solid $midnight-blue;
  border-top: 4.33vw solid transparent;
  border-bottom: 4.33vw solid transparent;
  position: relative;
  transition: all 0.3s ease-out;

  &:after {
    content: '';
    width: 5vw;
    height: 3vw;
    background-color: $midnight-blue;
    position: absolute;
    margin-left: -13.5vw;
    margin-top: -1.33vw;
  }

  &:hover {
    transform: scale(1.2,1.2);
  }
}

#arrow2 {
  margin: 0 auto;
  width: 0px;
  border-bottom: 8.66vw solid $green;
  border-left: 4.33vw solid transparent;
  border-right: 4.33vw solid transparent;
  position: relative;
  margin-bottom: 5vw;
  transition: all 0.3s ease-out;

  &:after {
    content: '';
    width: 3vw;
    height: 5vw;
    background-color: $green;
    position: absolute;
    margin-left: -1.5vw;
    margin-top: 8.6vw;
  }

  &:hover {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  }
}

#arrow3 {
  margin: 0 auto;
  width: 0px;
  border-bottom: 8.66vw solid $orange;
  border-left: 4.33vw solid transparent;
  border-right: 4.33vw solid transparent;
  position: relative;
  transform: rotate(45deg);
  transition: all 0.3s ease-out;

  &:after {
    content: '';
    width: 3vw;
    height: 5vw;
    background-color: $orange;
    position: absolute;
    margin-left: -1.5vw;
    margin-top: 8.6vw;
  }

  &:hover {
    transform: rotate(90deg) translateY(-10vw);
  }
}

#trapezium1 {
  margin: 0 auto;
  width: 17.32vw;
  border-bottom: 10vw solid $pomegranate;
  border-left: 4.33vw solid transparent;
  border-right: 4.33vw solid transparent;
  transition: border-bottom 0.3s ease-out, width 0.3s ease-out;

  &:hover {
    width: 25vw;
    border-bottom: 1vw solid $pomegranate;
  }
}


#trapezium2 {
  margin: 0 auto;
  width: 17.32vw;
  border-top: 10vw solid $blue;
  border-left: 4.33vw solid transparent;
  border-right: 4.33vw solid transparent;
  transition: border-left 0.3s ease-out;

  &:hover {
    border-left: 0vw solid $blue;
  }
}

#trapezium3 {
  margin: 0 auto;
  height: 17.32vw;
  width: 0;
  border-left: 10vw solid $midnight-blue;
  border-top: 4.33vw solid transparent;
  border-bottom: 4.33vw solid transparent;
  transition: transform 0.5s ease-out;
  transform-origin: top left;

  &:hover {
    transform: rotate(60deg);
  }
}

#parallelogram1 {
  margin: 0 auto;
  width: 17.32vw;
  height: 10vw;
  background-color: $orange;
  transform: skew(30deg);
  transition: all 0.3s ease-out;

  &:hover {
    transform: skew(-30deg);
  }
}

#star1 {
  margin: 0 auto;
  width: 0px;
  border-top: 17.32vw solid $green;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  position: relative;
  margin-top: 5vw;
  transition: transform 0.5s ease-out;
  transform-origin: 50% 33%;

  &:after {
    content: '';
    margin: 0 auto;
    width: 0px;
    border-bottom: 17.32vw solid $green;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    position: absolute;
    margin-left: -10vw;
    margin-top: -23.1vw;
  }

  &:hover {
    transform: translateX(12.5vw) rotate(150deg);
  }
}

#star2 {
  margin: 0 auto;
  width: 0px;
  border-top: 17.32vw solid $red;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  position: relative;
  margin-top: 5vw;
  transform-origin: 50% 33%;

  animation: chakra 2s linear infinite;
  -webkit-animation: chakra 2s linear infinite;

  &:after {
    content: '';
    margin: 0 auto;
    width: 0px;
    border-bottom: 17.32vw solid $red;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    position: absolute;
    margin-left: -10vw;
    margin-top: -23.1vw;
  }
}
@keyframes "chakra" {
  transform-origin: 50% 33%;
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@-webkit-keyframes "chakra" {
  transform-origin: 50% 33%;
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

#star3 {
  margin: 0 auto;
  width: 0px;
  border-top: 17.32vw solid $blue;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  position: relative;
  margin-top: 5vw;
  transform-origin: 50% 33%;
  transform: rotate(30deg);

  margin-left: -10vw;

  animation: gear 2s linear infinite;
  -webkit-animation: gear 2s linear infinite;

  &:after {
    content: '';
    margin: 0 auto;
    width: 0px;
    border-bottom: 17.32vw solid $blue;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    position: absolute;
    margin-left: -10vw;
    margin-top: -23.1vw;
  }
}
@keyframes "gear" {
  transform-origin: 50% 33%;
  0% {transform: rotate(30deg);}
  100% {transform: rotate(-330deg);}
}

@-webkit-keyframes "gear" {
  transform-origin: 50% 33%;
  0% {transform: rotate(30deg);}
  100% {transform: rotate(-330deg);}
}



#pentagon1 {
  margin: 0 auto;
  width: 0px;
  border-bottom: 8vw solid $blue;
  border-left: 11vw solid transparent;
  border-right: 11vw solid transparent;
  position: relative;
  margin-bottom: 8vw;
  transition: all 0.5s ease-out;

  &:after {
    content: '';
    margin: 0 auto;
    width: 22vw;
    border-top: 11vw solid $blue;
    border-left: 4.2vw solid transparent;
    border-right: 4.2vw solid transparent;
    position: absolute;
    top: 8vw;
    left: -11vw;
    transition: all 0.5s ease-out;
  }

  &:hover {
    box-shadow: 10px 10px 10px #888888;
  }

  &:hover:after {
    box-shadow: 10px 10px 10px #888888;
  }
}

#heart1 {
  margin: 0 auto;
  width: 0px;
  border-top: 12vw solid $pomegranate;
  border-left: 9.8vw solid transparent;
  border-right: 9.8vw solid transparent;
  position: relative;
  margin-top: 8vw;
  border-radius: 30%;
  transform: scale(0.8,0.8);
  transition: all 0.3s ease-out;

  &:after {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 10vw;
    height: 10vw;
    background-color: $pomegranate;
    border-radius: 100%;
    left: -9.7vw;
    top: -18.6vw;
  }

  &:before {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 10vw;
    height: 10vw;
    background-color: $pomegranate;
    border-radius: 100%;
    left: -0.3vw;
    top: -18.6vw;
  }

  &:hover {
    transform: scale(1,1);
  }
}

#heart2 {
  margin: 0 auto;
  width: 0px;
  border-top: 12vw solid $pomegranate;
  border-left: 9.8vw solid transparent;
  border-right: 9.8vw solid transparent;
  position: relative;
  margin-top: 8vw;
  border-radius: 30%;
  transform: scale(0.8,0.8);
  transition: all 0.3s ease-out;

  animation: beat 1s infinite;
  -webkit-animation: beat 1s infinite;

  &:after {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 10vw;
    height: 10vw;
    background-color: $pomegranate;
    border-radius: 100%;
    left: -9.7vw;
    top: -18.6vw;
  }

  &:before {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 10vw;
    height: 10vw;
    background-color: $pomegranate;
    border-radius: 100%;
    left: -0.3vw;
    top: -18.6vw;
  }

  &:hover {
    transform: scale(1,1);
  }
}

@keyframes "beat" {
  0% {transform: scale(1.1,1.1);}
  50% {transform: scale(0.8,0.8);}
  100% {transform: scale(1,1);}
}

@-webkit-keyframes "beat" {
  0% {transform: scale(1.1,1.1);}
  50% {transform: scale(0.8,0.8);}
  100% {transform: scale(1,1);}
}


#circle1 {
  margin: 0 auto;
  width: 12vw;
  height: 12vw;
  background-color: $orange;
  border-radius: 100%;
  position: relative;
  transition: all 1s ease-out;

  &:after {
    content: '';
    margin: 0 auto;
    width: 12vw;
    height: 0.05vw;
    background-color: white;
    top: 6vw;
    position: absolute;
  }

  &:hover {
    transform: translateX(400px) rotate(360deg);
  }
}